#custom-div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.select-field > select {
    width: 100px;
}

.select-field > img {
    width: 12px;
    height: 12px;

    margin: 0 5px 0 0;
}

.select-field > img:hover {
    background: red;
}